.first_rectangle{
    width: 80px;
    height: 50px;
    background: black;
}

.second_rectangle{
    width: 80px;
    height: 50px;
    background:rgb(245, 23, 23);
    margin: 5px;
    margin-left: 50%;
    border-radius: 10px;
}

.third_rectangle{
    width: 80px;
    height: 50px;
    background: seagreen;
    border-radius: 10px;
    margin: 3px;
    display: inline-block;
}

.fourth_rectangle{
    width: 80px;
    height: 50px;
    background: seagreen;
    border-radius: 10px;
    margin: 3px;
    display: inline-block;
}

.fifth_rectangle{
    width: 80px;
    height: 50px;
    display: inline-block;
    margin: 3px;
    margin-right: 240px;
    border: 3px solid rgb(135, 194, 250);
    
}